.nav {
  height: 50px;
  padding: 10px;
  background: wheat;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

.nav ul li a:hover,
.nav ul li a:focus,
.nav ul li a:active {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
